<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{.DisplayName}}, please verify your e-mail address</title>
</head>

<body>
	<p>Hi <b>{{.DisplayName}}</b>,</p>
	<p>Please click the following link to verify your email address within <b>{{.ActiveCodeLives}}</b>:</p>
	<p><a href="{{AppUrl}}user/activate_email?code={{.Code}}&email={{.Email}}">{{AppUrl}}user/activate_email?code={{.Code}}&email={{.Email}}</a></p>
	<p>Not working? Try copying and pasting it to your browser.</p>
	<p>Welcome to <a target="_blank" rel="noopener noreferrer" href="{{AppUrl}}">{{AppName}}</a>!</p>
</body>
</html>
